*{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.full{
    width: 100%;
    height: 100vh;
    background-color: rgb(88, 233, 184);
}
.navbar{
    width: 100%;
    height: 15vh;
    background-color: rgb(48, 158, 222);
    
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.bawah{
    width: 100%;
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.kiri{
    width: 35%;
    height: 45vh;
    background-color: rgb(21, 151, 221);
    border-radius: 20px;
     display: flex;
    align-items: center;
    justify-content: center;
}
.kanan{
    width: 35%;
    height: 45vh;
    background-color: rgb(21, 151, 221);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.isi{
    width: 90%;
    height: 40vh;
    background-color: aquamarine;
    border-radius: 20px;
     display: flex;
    align-items: center;
    justify-content: center;
   
}
.sis{
    width: 90%;
    height: 40vh;
    background-color: aquamarine;
    border-radius: 20px;
     display: flex;
    align-items: center;
    justify-content: center;
}
.in{
    width: 90%;
    height: 30vh;
 
}
.ni{
    width: 90%;
    height: 30vh;
   
}
.atas{
    width: 100%;
    height: 12vh;


}
.atas label{
    font-size: 20px;
}
.atas input{
    padding: 5px;
    margin-top: 5px;
}
.yes{
    width: 100%;
    height: 15vh;   


    
}
.yes label{
    font-size: 22px;
    
}
.ni button{
    padding: 10px;
    border-radius: 30px;
    background-color: rgb(57, 203, 174);
    border: 2px solid white;
    margin-right: 10px;


}
.output{
    width: 100%;
    background-color: white;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}
.output:hover{
    background-color: black;
    color: white;
}


@media (max-width:667px){
    .navbar{
        font-size: 15px;
    }
    .bawah{
        flex-wrap: wrap;
    }
    .kiri{
        width: 90%;
        margin-top: 20px;
    }
    .kanan{
        width: 90%;
        margin-top: 20px;
    }
}